#coep_symbol{
    height: 150px;
    width: 150px;
    
}

body{
    background: rgb(233, 238, 168);
}

.body{
    box-shadow: gray;
    background-color: skyblue;
    width: 80%;
    height: 75%;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
}

.navbar{
    background-color: red;
    border: green;
    border-radius: 10px;
}

.navbar ul{
    overflow: auto;
}

.navbar li{
    float:left;
    list-style: none;
    padding: 8px 8px;
    margin: 10px 25px;
}
.navbar li a{
    text-decoration: none;
    color: wheat;
}

#coep_symbol{
    float: left;
    border: 2px solid chocolate;
}

#Abhijaat_symbol{
    height: 150px;
    width: 100px;
    float: right;
    padding: 2px white;
    border: 3px solid black;
}

#Abhijaat_word{
    position: relatives;
    border: solid 1px gray;
    border-radius: 50px;
}

#text{
    font-family: cursive;
    
}


a{
    text-decoration: none;
}

.up2{
    height: 500px;
    width: 100%;
    display: inline;
}

.new1{
    height: 300px;
    width: 300px;
    background: green;
    
}

#g1{
    background-image: url(https://punemirror.indiatimes.com/thumb/msid-57832193,width-300,height-300,resizemode-4/.jpg);
}
#g2{
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfVnQUC4h73S41_kzjBuQlCkzxLWgTKrr4VA&usqp=CAU);
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin-left: 600px;
}

#g3{
    background-image: url(http://www.coep.org.in/page_assets/136/logo.jpg);
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
}

#g4{
    
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBmfLX0VZ2TkrMRru_71e66rD_eZAO10TeBnOv_rtbhxy4EIKew9GsqhwDFwP53FgNYDE&usqp=CAU);
    background-repeat: no-repeat;
    width: 200px;
    height: 170px;
    margin-left: 600px;
}
#g5{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLt4j-pab-uHaBw6DdERbh9Rvdtg_yVaQ6ZTJJr0ihCxihBvm-F7DlMW_DYMv-VChyj9M&usqp=CAU);
    background-repeat: no-repeat;
    width: 200px;
    height: 160px;
}

.new1 ul{
    overflow: auto;
}
.new1 li{
    float:left;
    list-style: none;
    padding: 8px 8px;
    margin: 10px 25px;
}

.white{
    background: mediumblue;
    color: moccasin;
}

.not_white{
    background: moccasin;
    color: olive;


}

footer{
    width: 100%;
    background-color: rgb(238, 139, 139);
